body{
    background: #2f455a;
    overflow: hidden;
}

#contenuthenderjet{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.imgThunderJet{
    display: inline-block;
    height: 100%;
}

#contenu{
    display: inline-block;
    /* vertical-align: top; */
    position: absolute;
    top: 0;
    right: 50px;
    margin-top: 194px;
}

#contenu h1{
    font-size: 80px;
    font-family: "raleway", Arial;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 40px;
}

.description{
    font-family: 'montserat_ultra_light';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: justify;
}

.textDescription{
    display: inline-block;
    font-family: 'questrial';
    font-size: 18px;
    color: #ffffff;
    line-height: 27px;
    width: 420px;
    text-align: justify;
}

.textDescription2{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    font-family: 'questrial';
    font-size: 18px;
    color: #ffffff;
    line-height: 27px;
    width: 420px;
    /* background-color: white; */
}

.cadre_jouer{
    margin-top: 50px;
    display: block;
}


/*#contenu a{*/
    /*text-decoration: none;*/
    /*color: #ffffff;*/
    /*text-transform: uppercase;*/
    /*font-family: 'questrial';*/
    /*!* float: left; *!*/
    /*position: relative;*/
    /*left: 54px;*/
    /*bottom: 70px;*/
    /*font-size: 25px;*/
/*}*/

.btn-jouer{
    padding: 20px;
    color: #ffffff;
    border: 1px solid #ffffff;
    display: block;
    background: inherit;
    border-radius: 5px;
    margin-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 23px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-jouer:hover{
    transition: 1s;
    background: #3d6b98;
}