body{
    /*overflow: hidden;*/
    background: #2f455a;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*!* Seconde bloc *!*/
/*#secondBloc{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: 2;*/
    /*display: none;*/
/*}*/

/*#secondBloc ul{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: relative;*/
/*}*/

/*#secondBloc li{*/
    /*position: relative;*/
    /*float: left;*/
    /*width: 20%;*/
    /*height: 0%;*/
/*}*/

/*.blocNoirOpacite{*/
    /*height: 100%;*/
    /*width: 50px;*/
    /*background: black;*/
/*}*/

/*#secondBloc li img{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*#secondBloc p{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: TranslateY(-50%) TranslateX(-50%);*/
    /*font-size: 50px;*/
    /*color: white;*/
    /*font-family: "Gotham Rounded Light";*/
    /*width: 258.8px;*/
    /*text-align: center;*/
/*}*/

/*#secondBloc li p:first-child{*/
    /*width: 297.2px;*/
/*}*/



/* modif login */

.container{
    width: 62%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: TranslateY(-50%) TranslateX(-50%);}

.container h1{
    text-align: center;
    font-size: 35px;
    font-family: "montserrat_bold", Arial;
    margin-bottom: 26px;
    color: #FFFFFF;
}

.container p{
    text-align: center;
    font-size: 16px;
    font-family: "questrial", Arial;
    margin-bottom: 26px;
    color: #FFFFFF;
}

#centrage_bloc{
    margin: auto;
    width: 100%;
}

.panel-body{
    display: inline-block;
    margin: 0 auto;
    width: 50%;
    height: 670px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 35px;
    box-sizing: border-box;
    position: relative;
}

.form-horizontal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: TranslateY(-50%) TranslateX(-50%);
}

label{
    color: #9da1a6;
    font-size: 20px;
    /*padding-top: 45px;*/
    /*margin-bottom: 138px;*/
    font-family: "Gotham Rounded";
}

input{
    width: 383px;
    height: 35px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-color: #fff;
    font-size: 15px;
    font-family:"Gotham Rounded";
    border: none;
    border-bottom: 1px solid #9da1a6;
    padding: 12px;
    color: #FFFFFF;
}

input:focus{
    border: none;
}

#redirectionInscription{
    display: inline-block;
    border-collapse: collapse;
    vertical-align: top;
    height: 670px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 49%;
    position: relative;
}


#centrage_contenu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: TranslateY(-50%) TranslateX(-50%);
}

.rememberMetext{
    font-size: 15px;
}

.rememberMe{
    width: 16px;
    position: relative;
    top: 10px;
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-color: #fff;
    border-radius: 7px;
    font-size: 30px;
    padding-left: 20px;
    font-family:"questrial", Arial;
    border: 1px solid #9da1a6;
}

button{
    height: 55px;
    width: 220px;
    border-radius: 6px;
    background-color: #0d539f;
    font-family:"questrial";
    font-size: 20px;
    border: transparent;
    color: #FFF;
    margin-bottom: 55px;
    display: block;
    margin: auto;
}

.fa{
    margin-right: 9px;
}

button:hover{
    background-color: #0b407a;
}

.btn-link{
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'questrial', Arial;
    margin-top: 40px;
}

.createCompteBloc{
    height: 55px;
    width: 220px;
    border-radius: 6px;
    background-color: #0d539f;
    border: transparent;
    display: block;
    margin: auto;
    text-decoration: none;
    text-align: center;
}

.createCompte{
    position: relative;
    top: 17px;
    text-decoration: none;
    font-family:"questrial";
    font-size: 20px;
    color: #FFF;
}